main {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

h1 {
    font-size: 36pt;
    text-align: center;
}

nav {
    width: 100vw;
    padding: 5vw;
    box-sizing: border-box;
    text-align: center;
}

.nav-links-wrapper {
    margin-top: 5vh;
    background-color: #C92230;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    gap: 10px;
}

.nav-links-wrapper a {
    background-color: #D2636C;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;

    text-decoration: none;

    transition: 150ms ease-in-out;
}

.nav-links-wrapper a:hover,
.nav-links-wrapper a:active,
.nav-links-wrapper a:focus {
    background-color: #D9A7AB;
    transform: scale(1.025);
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 30pt;
    }
}

@media only screen and (min-width: 767px) {
    main {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    .nav-links-wrapper a {
        font-size: 14pt;
    }


}

@media only screen and (min-width: 1024px) {
    main {
        justify-content: space-around;
    }

    h1 {
        font-size: 60pt;
    }

    nav {
        width: 45%;
    }
}

@media only screen and (min-width: 1920px) {
    h1 {
        font-size: 80pt;
    }

    .nav-links-wrapper a {
        font-size: 20pt;
    }
}

@media only screen and (min-width: 2560px) {
    h1 {
        font-size: 100pt;
    }

    .nav-links-wrapper {
        padding: 15px;
        gap: 15px;
    }

    .nav-links-wrapper a {
        font-size: 30pt;
        padding: 30px;
    }
}