a {
    text-decoration: none;
    transition: 150ms ease-in-out;
}

a:hover {
    color: thistle;
}


h1 {
    font-size: 28pt;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 20pt;
    margin-top: 10px;
}

header {
    position: fixed;
    z-index: 1;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    position: fixed;
    width: 100vw;
    padding-right: 20px;
}

header .site-name {
    font-size: 20pt;
}


/* 
    HAMBURGER MENU
*/
#menu-toggle{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-direction: center;
    align-items: center;
}

#menu-toggle input{
    display: none;
}

#menu-toggle span {
    display: block;
    position: relative;
    border-radius: 3px;
    visibility: visible;
    width: 30px;
    background: white;
    height: 2px;
    transition: 250ms ease-in-out;
    z-index: 6;
}

#menu-toggle span:first-of-type {
    transform-origin: 0px 0px;
}
#menu-toggle span:last-of-type{
    transform-origin: 0px 2px;
}

#menu-toggle span:not(:last-of-type){
    margin-bottom: 8px;
}

#menu-toggle input:checked ~ span{
    background: black;
}

#menu-toggle input:checked ~ span:first-of-type{
    transform: rotate(45deg) translateX(0px);
}

#menu-toggle input:checked ~ span:nth-of-type(2){
    opacity: 0;
}

#menu-toggle input:checked ~ span:last-of-type{
    transform: rotate(-45deg);
}

.header-nav{
    width: 70vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 150ms ease-in-out;
    margin-left: 100vw;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    z-index: 4;
}

#menu-toggle input:checked ~ .header-nav{
    margin-left: 30vw;
    background-color: white;
}

.header-nav a {
    color: black;
}

main{
    padding-top: 60px;
    display: flex;
}


.landing-page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30vh;
    padding-bottom: 10vh;
}

.header-nav-links{
    z-index: 4;
    height: 86%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header-nav-title{
    color: black;
    font-size: 20pt;
    margin-bottom: 30px;
}
.header-nav-link{
    border-bottom: 1px rgb(194, 194, 194) solid;
    padding: 10px;
}

.header-nav-link:hover{
    background: rgb(247, 247, 247);
}

.most-used-links{
    margin-top: 40px;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.most-used-links ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    border-radius: 8px;
    background : linear-gradient(-135deg, rgba(0,0,0,0.25),rgba(0,0,0,0.3));
}

.most-used-links-item{
    font-size: 12pt;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.most-used-links-item a {
    color: white;
    border-bottom: 1px solid #00000050;
    box-shadow: 1px 1px 25px #00000050;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    transition: 150ms ease-in-out;
    border-image-source: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0));;
}

.most-used-links-item a:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 25px #0000007c;
}

.most-used-links-item a::after{
    content: '';
	position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
	width: calc(100% - 4px);
	height: 100%;
    background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0.05));
    opacity: 0;
    visibility: hidden;
    transition: 150ms ease-in-out;
}  
.most-used-links-item a:hover::after{
    visibility: visible;
    opacity: 100%;
	
}

.most-used-links-item:not(:last-of-type){
    margin-bottom: 15px;
}

@media only screen and (min-width:768px){
    .header-nav{
        width: 50vw;
    }
    #menu-toggle input:checked ~ .header-nav{
        margin-left: 50vw;
    }
}

@media only screen and (min-width:1280px){
    h1{
        font-size: 36pt;
    }

    h2{
        font-size: 24pt;
    }

    .most-used-links a{
        font-size: 13pt;
    }

    #menu-toggle{
        display: block;
        align-items: center;
        position: static;
        border: none;
        width: auto;
    }
    #menu-toggle input{
        display: none;
    }

    #menu-toggle>span{
        display: none;
    }

    .header-nav{
        margin-left: 0;
        position: static;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .header-nav-title{
        border: none;
        display: none;
    }
    .header-nav-links{
        display: flex;
        overflow: hidden;
        flex-direction: row;
        background-color: none;
        gap: 16px;
        height: auto;
    }

    a.header-nav-link{
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        color: white;
        padding-right: 10px;
    }
    a.header-nav-link:not(:last-of-type){
        border-right: 1px white solid;
    }

    a.header-nav-link:hover{
        background: none;
        color: lightsalmon;
    }

    #menu-toggle input:checked ~ .header-nav{
        margin: 0;
        background-color: #00000000;
    }

    .landing-page-content{
        margin-top: 10vh;
        padding-bottom: 0;
    }
}

@media only screen and (min-width:1400px){
    h1{
        font-size: 36pt;
    }

    h2{
        font-size: 24pt;
    }

    .most-used-links ul{
        width: 60vw;
}
    .most-used-links-item a {
        font-size: 12pt;
        padding: 10px;
    }

    a.header-nav-link{
        font-size: 12pt;
    }
    
}

@media only screen and (min-width:2000px){
    h1{
        font-size: 48pt;
    }

    h2{
        font-size: 30pt;
    }

    .most-used-links ul{
        width: 60vw;
}
    .most-used-links-item a {
        font-size: 20pt;
        padding: 20px;
    }

    a.header-nav-link{
        font-size: 12pt;
    }
}