body {
    background-color: black;
}

header {
    background-color: #032030;
    padding: 10px;
}

header #back-button {
    font-size: 20pt;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

header #back-button:hover,
header #back-button:active,
header #back-button:focus {
    color: thistle;
}

h1 {
    font-size: 30pt;
    margin: 20px 30px;
    text-align: center;
    font-weight: bold;
}

ul {
    width: 100vw;

    box-sizing: border-box;
    padding: 0 3vw;

    display: grid;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    justify-content: space-around;
}

li {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    background-color: #032030;

}

li h2 {
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 20px;
}

li a {
    display: box;
    text-decoration: none;
    margin-bottom: 10px;
    color: thistle;
    transition: 150ms ease-in-out;

    box-sizing: border-box;
}

li a:hover,
li a:active,
li a:focus {
    text-decoration: none;
    color: white;

    padding-left: 5px;
}

@media only screen and (max-width: 320px) {
    li {
        padding: 10px;
        padding-bottom: 30px;
    }

    li h2 {
        font-size: 14pt;
    }

    li a {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 1024px) {
    header #back-button {
        font-size: 14pt;
    }

    ul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    li {
        padding: 20px;
    }

    li h2 {
        font-size: 18pt;
        text-align: center;
    }

    li a {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 2560px) {
    li {
        padding: 30px 50px;
    }

    li h2 {
        font-size: 30pt;
        margin-bottom: 30px;
    }

    li a {
        font-size: 24pt;
        margin-bottom: 30px;
    }
}