header {
    top: 0;
    padding: 10px;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
}

header #back-button {
    font-size: 20pt;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

header #back-button:hover,
header #back-button:active,
header #back-button:focus {
    color: thistle;
}

main {
    margin-top: 60px;
}

h1 {
    font-size: 30pt;
    margin: 20px 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    width: 95vw;

    box-sizing: border-box;
    padding: 0 3vw;

    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    column-gap: 3vw;
    justify-content: space-around;
}

li {
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    flex-direction: column;
    border-radius: 16px;
    background : linear-gradient(-135deg, rgba(0,0,0,0.25),rgba(0,0,0,0.4));
    box-shadow: 2px 2px 20px 2px #00000030;
    transition: 100ms ease-in-out;

}

li:hover{
    box-shadow: 2px 2px 20px 2px #00000060;
}

li .counter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

li .counter{
    font-size: 20pt;
}

li h2 {
    text-align: left;
    font-size: 16pt;
    margin-bottom: 20px;
}

li a {
    display: box;
    text-decoration: none;
    margin-bottom: 10px;
    color: thistle;
    transition: 150ms ease-in-out;
    grid-column: 2;

    box-sizing: border-box;
}

li a:hover,
li a:active,
li a:focus {
    text-decoration: none;
    color: white;

    padding-left: 5px;
}

@media only screen and (max-width: 320px) {
    li {
        padding: 10px;
        padding-bottom: 30px;
    }

    li h2 {
        font-size: 14pt;
    }

    li a {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 768px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    header #back-button {
        font-size: 14pt;
    }

    ul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    li {
        padding: 20px;
    }

    li h2 {
        font-size: 18pt;
    }

    li a {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 2560px) {
    li {
        padding: 30px 50px;
    }

    li h2 {
        font-size: 30pt;
        margin-bottom: 30px;
    }

    li a {
        font-size: 20pt;
        margin-bottom: 30px;
    }
}