header {
    background-color: #032030;
    color: white;
    padding: 8px 15px;
}

#back-button {
    transition: 100ms;
    font-size: 14pt;
    color: white;
}

#back-button:visited {
    color: white;
}

#back-button:hover {
    transform: scale(1.05);
}

#back-button:active {
    transform: scale(0.95);
}

h1 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 32pt;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    color: white;
    margin: 12px 0;
    padding: 0 50px;
    column-gap: 20px;
    row-gap: 20px;
    display: grid;
    grid-template-areas: "a b c";
    text-align: center;
    vertical-align: top;
}

li {
    display: flex;
    justify-content: top;
    vertical-align: top;
    height: auto;
    flex-direction: column;
    background-color: #032030;
    padding: 30px 20px 0 20px;
    border-radius: 16px;
    transition: 100ms ease-in-out;
    border: 0 solid black;
}

.card-title {
    font-size: 18pt;
    margin-bottom: 12px;
}

.card-link {
    text-align: left;
    transition: 150ms ease-in-out;
    font-size: 14pt;
    color: thistle;
    margin-top: 12px;
}

.card-link:last-child {
    margin-bottom: 36px;
}

.card-link:hover {
    color: white;
    transform: translateX(5px);
}

.card-link:active {
    color: white;
    transform: translateX(5px);
}